/lib
node_modules
.DS_store
.env*
/*.js
!index.js
yarn.lock
.gitignore
.eslintrc
.babelrc
.prettierrc

/api/
/services/
/models/
/interfaces/
/subscribers/
/migrations/
/loaders/
/repositories/
/utils/
/types/
/index.js
.idea/
/dist/